body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 100%;


}


.error {
  margin-top: 10px;
  background-color: rgb(255, 0, 0);
  text-align: center;
  padding: 6px;
  color: white;
  border-radius: 10px;
}


.background {

  background-image: url("./../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

<<<<<<< HEAD
.photos{
  position:absolute;
  height: 60%;
=======
.photos {
  height: 250px;
  width: 250px;
  object-fit: cover;
>>>>>>> 882574f35bdbe5b88f8da314b95a61566ecb77a3
}