body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
  height: auto;

}



.error {
  margin-top: 10px;
  background-color: rgb(255, 0, 0);
  text-align: center;
  padding: 6px;
  color: white;
  border-radius: 10px;
}


.background {

  background-image: url("./../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.photos {
  position: absolute;
  height: 60%;
}

#myMap {
  margin-bottom: 50px;
  height: 50vh;


}

.card-body {
  height: 30%;
}