*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
  height: auto;

}

.error {
  margin-top: 10px;
  background-color: rgb(255, 0, 0);
  text-align: center;
  padding: 6px;
  color: white;
  border-radius: 10px;
}


.photos {
  position: absolute;
  height: 60%;
}

#myMap {
  margin-bottom: 50px;
  height: 50vh;

}

.card-body {
  height: 30%;
}

.hero{
  width: 100%;
  filter: opacity();
  height: 100%;
  
}