<div class="container cool-nav">

    <h1>Mis perros</h1>

    <hr>

    {{#each pets}}
    <img src="{{avatar}}" alt="Avatar">
    <p>{{name}}</p>
    <p>{{birth}}</p>
    <p>{{description}}</p>
    {{/each}}

</div>