<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Registrar nuevo albergue</h1>

            <hr>

            <form method="POST" action="/albergue/crear">
                <div class="mb-3">
                    <label>Name
                        <input name="name" type="text">
                    </label>

                </div>
                <div class="mb-3">
                    <label>Description
                        <input name="description" type="text">
                    </label>
                </div>

                <div class="mb-3">
                    <label>Localizacion
                        <input name="location" type="text" value="">
                    </label>
                </div>
                <div class="mb-3">
                    <input type="submit" value="Registrar albergue">

            </form>

        </div>

    </div>

</div>