<div class="container">
    <h1>Albergues disponibles</h1>
    <hr>
    <div class="row">
        {{#each pound}}
        <div class="col md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{description}}</h6>
                    <a href="/" class="card-link">{{location.coordinates.[0]}}</a>
                    <a href="/" class="card-link">{{location.coordinates.[1]}}</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>