<div class="container cool-nav">
    <h1>Albergues disponibles</h1>
    <hr>
    <div class="row cool-nav">
        <!--POUND LIST-->
        {{#each pound}}
        <div class="col md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body" style="height: 300px; object-fit: cover; object-position: top">
                    <div style="height: 180px;">
                        <h5 class="card-title">{{name}}</h5>
                        <h6 class="card-subtitle mb-4 text-muted">{{description}}</h6>
                    </div>

                    <div>
                        <br>
                        <div class="btn-list">
                            <a href="/albergue/{{id}}" class="btn btn-dark btn-sm">Ver detalle</a>
                            <a href="/" class="btn btn-dark btn-sm">Volver al inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}


        <!--MAP DIV-->
        <div id="myMap"></div>

        <!--AXIOS SCRIPT-->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <!--MAP SCRIPT-->
        <script src="/js/maps-pound.js"></script>
        <script src="/js/maps-styles.js"></script>


        <!--API KEY GOOGLE-->
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwg1t-8kqR7GFNEiPlrtKF1eWrGB5GZ5E&callback=init"></script>


    </div>
</div>