<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Guau Guau_</title>
   <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100&display=swap" rel="stylesheet">
   <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
   <link rel="stylesheet" href="/stylesheets/style.css" />
   
</head>

<body>
   <nav class="navbar bg-dark navbar-dark fixed-top mb-5">
      <div class="container-fluid">
         
         <a class="navbar-brand" href="/">Adopta tu perro</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
               <li class="nav-item">
                  <a class="nav-link" href="/">Inicio</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/registro">Registro</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/iniciar-sesion">Iniciar sesión</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/albergue/lista">Lista albergues</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/albergue/crear">Crear albergue</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/perros/lista">Lista de perros</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/perros/crear">Registrar perro</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/mis-perros">Mis perros</a>
               </li>
               <form action="/cerrar-sesion" method="POST">
                  <button type="submit" class="btn btn-dark block">Cerrar sesión</button>
               </form>
            </ul>
         </div>
      </div>
   </nav>


   {{{body}}}
   <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
   <script src="/js/script.js"></script>
</body>

<footer>
  <p>Gracias por confiar en Adopta tu perro</p> 
</footer>

</html>