<div class="container">
    <h1>Bienvenid@, {{user.username}}</h1>

    {{#each pets}}
    <p>Raza <br>{{name}} </p>
    <p>Descripción <br>{{description}}</p>

    <a href="/albergue/formulario-adopcion/{{id}}" class="btn btn-dark btn-sm">Aceptar adopción</a>
    <hr>

    {{/each}}



</div>