<div class="container">
    <div class="row justify-content-center cool-nav">
        <div class="col-md-6">
            <h1>Contacta</h1>
            <hr>
            <!--CONTACT FOR ADOPT DOG-->
            <form action="/contacto/{{id}}" method="POST">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="subject" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="subject" name="subject">
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="name" class="form-label">Asunto</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Mensaje</label>
                        <input type="text" class="form-control" id="message" name="message">
                    </div>
                    <input type="text" class="form-control" id="message" name="ownerEmail" value={{owner.email}} hidden>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Enviar formulario de adopción
                    </button>

                    <!-- Modal Button -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel myInput">Su mensaje ha sido enviado
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>El dueño del albergue se pondrá en contacto con usted lo antes posible</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-dark">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <script src="/js/modal.js"></script>
        </div>
    </div>
</div>